version: '3.8'

services:
  db:
    image: postgres:16.2-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: job_tracker
    volumes:
      - ./db/schema.sql:/docker-entrypoint-initdb.d/schema.sql
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - job-tracker-network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://myuser:mypassword@db:5432/job_tracker?sslmode=disable
    networks:
      - job-tracker-network

volumes:
  pgdata:

networks:
  job-tracker-network:
    driver: bridge
